In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [3]:
# Fill NaN with a value (e.g., 0) before converting to int
df['fever'] = df['fever'].fillna(0).astype(float)

In [4]:
# df['fever']=df['fever'].astype(int)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = df.iloc[:,:-1]
y = df.iloc[:,:1]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [8]:
X_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
88    5  Female  100.0    Mild    Kolkata
26   19  Female  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[80 rows x 5 columns]

In [9]:
X_train.dtypes

age         int64
gender     object
fever     float64
cough      object
city       object
dtype: object

In [10]:
y_train

    age
55   81
88    5
26   19
42   27
69   73
..  ...
60   24
71   75
14   51
92   82
51   11

[80 rows x 1 columns]

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [24]:


transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(sparse_output=False, drop=None), ['gender', 'city'])
], remainder='passthrough')

In [13]:
print(X_train.head())
print(X_train.dtypes)
print(X_train.columns)
print(type(X_train))

    age  gender  fever cough     city
55   81  Female  101.0  Mild   Mumbai
88    5  Female  100.0  Mild  Kolkata
26   19  Female  100.0  Mild  Kolkata
42   27    Male  100.0  Mild    Delhi
69   73  Female  103.0  Mild    Delhi
age         int64
gender     object
fever     float64
cough      object
city       object
dtype: object
Index(['age', 'gender', 'fever', 'cough', 'city'], dtype='object')
<class 'pandas.core.frame.DataFrame'>

In [25]:
transformer.fit_transform(X_train).shape

(80, 9)

In [ ]:
transformer.transform(X_test).shape

(20, 7)

In [23]:
from sklearn.compose import ColumnTransformer
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2', OrdinalEncoder(categories=['Mild','Strong']),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')